:root {
  --headerPrimary: hsl(195, 83%, 38%);
  --headerSecondary: rgb(253, 236, 236);
  --bodyPrimary: #073b4c;
  --bodySecondary: #06d6a0;
  --bodyThree: #ffd166;
  --bodyFour: #ef476f;
}

.submitBtn {
  background-color: var(--bodySecondary);
  color: var(--bodyPrimary);
}

.removeBtn {
  background-color: var(--bodyFour);
  color: var(--headerSecondary);
}

.cart {
  background-color: rgb(188, 188, 188);
  display: flex;
  flex-direction: column;
  /* border: 4px solid blue; */
  height: 100%;
  justify-content: flex-start;
}

.cart ul {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  background-color: white;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart li {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 10px;
}
