.cardContainer {
    display: grid;
    border: 2px solid hotpink;
    gap: 20px;
    width: 100vw;
}

.products {
    background-color: rgb(188, 188, 188);
}


@media (max-width: 500px){
    .cardContainer {
        grid-template-columns: 1fr
    }
}

@media (min-width: 500px) and (max-width: 1000px){
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px){
    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
