:root {
  --headerPrimary: hsl(195, 83%, 38%);
  --headerSecondary: rgb(253, 236, 236);
  --bodyPrimary: #073b4c;
  --bodySecondary: #06d6a0;
  --bodyThree: #ffd166;
  --bodyFour: #ef476f;
}

.productCard {
  display: grid;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "img price"
    "img form"
    "title title";
}

.productCard img {
  height: 6rem;
  max-width: 4rem;
  grid-area: img;
  border-radius: 10px;
  margin: auto;
  /* Images are surely distorted now, but this is helpful for now to help figure out layout */
}

.productCard form {
  grid-area: form;
}

.title {
  grid-area: title;
}

.price {
  grid-area: price;
  margin: auto;
  font-size: 2.5rem;
}

button {
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: var(--headerPrimary);
  color: var(--headerSecondary);
}

.productCard form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.productCard input {
  width: 3rem;
}

.productCard button {
}
